.page {
  padding: 24px;
}

.toolbar {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}

.heading {
  margin: 0;
  font-family: var(--heading);
  font-weight: 700;
}

.desc {
  margin-bottom: 0;
}

.filterForm {
  margin-bottom: 16px;
}

.keywordInput {
  width: 180px;
}

.enableSelect {
  width: 120px;
}

.editForm {
  margin-top: 8px;
}
